.app-container {
  height: 100vh;
  overflow: auto;
  background: #e5e5e5;
  .navbar {
    display: flex;
    justify-content: center;
  }

  .logo {
    opacity: 0.7
  }

  .container {
    margin-top: 8px;
  }
}
